<div class="row">
    <div class="col-12">
        <img [src]="selectedRecipeItem.imagePath" alt="{{selectedRecipeItem.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Recipe Name : {{selectedRecipeItem.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-12" btn-group>
        <button class="btn btn-primary dropdown-toggle">Manage Recipe 
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>description : {{selectedRecipeItem.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>ingredient</p>  
    </div>
</div>
