<div class="row">
    <div class="col-12">
        <img [src]="selectedRecipeItem.imagePath" alt="{{selectedRecipeItem.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Recipe Name : {{selectedRecipeItem.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        
        <!---->
        <div class="dropdown">
            <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe <span class="caret"></span>
            </button> -->
            <button class="btn btn-primary dropdown-toggle" type="button" appDropdown aria-expanded="false">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="addIngredientToShoppingList()" class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
        <!---->
        

    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>description : {{selectedRecipeItem.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>ingredient</p>
        <ul class="list-group">
            <li *ngFor="let ingredient of selectedRecipeItem.ingredients" class="list-group-item">
                <p>{{ingredient.name}} - {{ingredient.amount}}</p>
            </li>
        </ul>  
    </div>
</div>
